<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sun.lab.dao.MembersMapper">
    <resultMap id="membersResultMap" type="sun.lab.entity.Members">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="img" property="img" jdbcType="VARCHAR"/>
        <result column="education" property="education" jdbcType="VARCHAR"/>
        <result column="work_experience" property="workExperience" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="research_interest" property="researchInterest" jdbcType="VARCHAR"/>
        <result column="category" property="category" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="selectAll" resultMap="membersResultMap">
        select * from members order by category desc
    </select>
    <select id="selectPageList" parameterType="page" resultMap="membersResultMap">
        select * from members order by category limit #{start},#{pageSize}
    </select>
    <select id="selectPageCount" parameterType="page" resultType="Integer">
        select count(1) from members
    </select>
    <select id="selectById" parameterType="Members" resultMap="membersResultMap">
        select * from members where id =#{id}
    </select>
    <update id="update" parameterType="Members">
    update members set name=#{name},img=#{img},education=#{education},
    work_experience=#{workExperience},email=#{email},research_interest=#{researchInterest},
    category=#{category} where id=#{id}
  </update>
    <insert id="insert" parameterType="Members">
    insert into members(name,img,education,work_experience,email,research_interest,category)
    values(#{name},#{img},#{education},#{workExperience},#{email},#{researchInterest},#{category})
  </insert>
    <delete id="delete" parameterType="Members">
    delete from members where id = #{id}
  </delete>
</mapper>