<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sun.lab.dao.PublicationsMapper" >
  <resultMap id="publicationResultMap" type="sun.lab.entity.Publications" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="year" property="year" jdbcType="VARCHAR" />
    <result column="file" property="file" jdbcType="VARCHAR" />
  </resultMap>
  <select id="selectAll" resultMap="publicationResultMap">
    select * from publications
  </select>
  <select id="selectById" parameterType="Publications" resultMap="publicationResultMap">
    select * from publications where id =#{id}
  </select>
  <update id="update" parameterType="Publications">
    update publications set title=#{title},year=#{year},file=#{file} where id=#{id}
  </update>
  <insert id="insert" parameterType="Publications">
    insert into publications(title,year,file)
    values(#{title},#{year},#{file})
  </insert>
  <delete id="delete" parameterType="Publications">
    delete from publications where id = #{id}
  </delete>

  <select id="selectPageList" parameterType="page" resultMap="publicationResultMap">
    select * from publications order by id desc limit #{start},#{pageSize}
  </select>

  <select id="selectPageCount" resultType="Integer">
    select count(1) from publications
  </select>

</mapper>