<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">

    <mvc:annotation-driven />
    <!-- 	<context:component-scan base-package="*"/> -->
    <!-- 扫描所有的controller 但是不扫描service -->
    <context:component-scan base-package="sun">
        <context:include-filter type="annotation"
                                expression="org.springframework.stereotype.Controller"/>
        <context:exclude-filter type="annotation"
                                expression="org.springframework.stereotype.Service"/>
    </context:component-scan>

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/goURL/**" />
            <mvc:mapping path="/Home/**" />
            <mvc:mapping path="/member/**" />
            <mvc:mapping path="/Menu/**" />
            <mvc:mapping path="/news/**" />
            <mvc:mapping path="/publication/**" />
            <mvc:mapping path="/file/**" />
            <mvc:mapping path="/user/**" />
            <mvc:exclude-mapping path="/user/login.action" />
            <mvc:exclude-mapping path="/user/logout.action" />
            <mvc:exclude-mapping path="/user/authImage.action" />
            <bean class="sun.lab.interceptor.CommonInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="utf-8"/>
        <property name="maxUploadSize" value="10485760000"/>
        <property name="maxInMemorySize" value="40960"/>
    </bean>

</beans>
